@import "vars";
@import "mixin";
.contentsTable {
  width: 100%;
  border-top: 2px solid $main-color;
  tbody,
  thead {
    th,
    td {
      padding: 15px 10px;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      &:nth-child(1) {
        border-left: none;
      }
    }
  }
}
.boardTable {
  width: 100%;
  border-top: 2px solid $main-color;
  tbody,
  thead {
    th,
    td {
      padding: 15px 10px;
      border-bottom: 1px solid #ccc;
      text-align: center;
    }
  }
  tbody {
    tr:nth-child(2n) {
      background-color: #999;
    }
  }
  thead {
    font-weight: 500;
  }
  .subject {
    text-align: left;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  ul {
    display: flex;
    justify-content: center;
    margin: 0 20px;
  }
  a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1px;
    border-radius: 5px;
    &.first {
      background-color: #111;
      &:before {
        color: #fff;
        @include icon("keyboard_double_arrow_left", 0);
      }
    }
    &.prev {
      background-color: #111;
      &:before {
        color: #fff;
        @include icon("chevron_left", 0);
      }
    }
    &.last {
      background-color: #111;
      &:before {
        color: #fff;
        @include icon("keyboard_double_arrow_right", 0);
      }
    }
    &.next {
      background-color: #111;
      &:before {
        color: #fff;
        @include icon("chevron_right", 0);
      }
    }
    &.active {
      background-color: $main-color;
      // border-bottom: 1px solid #f00;
      color: #fff;
      border-radius: 3px;
    }
  }
}
.searchForm {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  padding: 80px 150px;
  #searchTxt {
    height: 50px;
    padding: 0 10px;
    border: 1px solid #999;
    box-sizing: border-box;
    margin-right: 5px;
    flex-grow: 1;
  }
  #searchCategory {
    height: 50px;
    padding: 0 10px;
    border: 1px solid #999;
    width: 200px;
    margin-right: 5px;
  }
  button {
    width: 80px;
    background-color: #111;
    color: #fff;
    border-radius: 5px;
  }
}
.marketTable {
  width: 100%;
  border-top: 2px solid $main-color;
  tbody,
  thead {
    th,
    td {
      padding: 15px 10px;
      border-bottom: 1px solid #ccc;
      text-align: center;
      word-break: break-all;
    }
    img {
      position: absolute;
      width: 80%;
      margin-bottom: 10px;
    }
  }
}
