@import "vars";
@import "mixin";

.subVisual {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background: {
    repeat: no-repeat;
    size: cover;
    position: 50% 50%;
  }
  .titleBox {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    .subTitle {
      font-size: $font-large;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
  #lnb {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50px;
    .container {
      display: flex;
      .home {
        display: flex;
        width: 50px;
        height: 50px;
        overflow: hidden;
        text-indent: -999px;
        justify-content: center;
        align-items: center;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        &:before {
          text-indent: 0;
          font-size: 24px;
          color: #fff;
          @include icon("home", 0);
        }
      }
      .menu {
        width: 200px;
        &:hover {
          ul {
            display: block;
          }
        }
        &:nth-of-type(2) button {
          border-right: 1px solid rgba(255, 255, 255, 0.5);
        }
        button {
          border: none;
          background: none;
          height: 50px;
          padding: 0 20px;
          color: #fff;
          font-size: 16px;
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          width: 100%;
          text-align: left;
        }
        ul {
          background-color: #fff;
          border: 1px solid #ccc;
          border-top: none;
          display: none;
          li {
            border-top: 1px solid #ccc;
            a {
              display: block;
              padding: 0 20px;
              height: 50px;
              line-height: 50px;
            }
          }
        }
      }
    }
  }
}
.h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
  &:before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: rgb(204, 204, 204);
    background: linear-gradient(0deg, rgba(204, 204, 204, 1) 50%, rgba(191, 12, 20, 1) 50%, rgba(191, 12, 20, 1) 50%);
    margin-right: 15px;
  }
}

@for $i from 1 to 6 {
  #subVisual0#{$i} {
    background-image: url("../images/contents/subVisual0#{$i}.jpg");
  }
}

.tab {
  .tabMenu {
    display: flex;
    li {
      flex-basis: 25%;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-left: none;
      &.active {
        border-color: $main-color;
        a {
          background-color: $main-color;
          color: #fff;
        }
      }
      a {
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .tabContents {
    position: relative;
    > li {
      display: none;
      &:nth-child(1) {
        display: block;
      }
      &:target {
        display: block;
      }
      &:not(:target) {
        display: none;
      }
    }
  }
}

.subContents {
  min-height: 100vh;
  margin-bottom: 100px;
  .contentsTitle {
    font-size: $font-large - 10px;
    font-weight: 700;
    text-align: center;
    margin: 80px 0;
    &:after {
      @include pseudo(block, relative, "");
      @include box(40px, 5px, $main-color);
      margin: 30px auto;
    }
  }
  .desc {
    text-align: center;
    margin-top: 50px;
    .headTxt {
      font-size: $font-large;
      line-height: 1.25;
      font-weight: 300;
      margin-bottom: 50px;
      strong {
        font-weight: 500;
        .red {
          color: $main-color;
        }
      }
    }
    .txtBox {
      text-align: justify;
      p {
        margin-bottom: 50px;
        line-height: 1.5;
        word-break: keep-all;
      }
    }
  }
}
#introduce {
  .summaryBox {
    display: flex;
    .txtBox {
      width: 50%;
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: {
        color: $main-color;
        position: right 0 bottom 0;
        repeat: no-repeat;
        image: url(../images/contents/bg_logo.png);
      }
      .main {
        font-size: $font-large;
        font-weight: 700;
        &:after {
          content: "";
          display: block;
          width: 40px;
          height: 2px;
          background-color: rgba(255, 255, 255, 0.5);
          margin: 20px auto;
        }
      }
      .sub {
        line-height: 1.5;
        font-size: 20px;
      }
    }
  }
  .txtBox {
    text-align: center;
  }
}
#greeting {
  .container {
    display: flex;
    img {
      align-self: flex-start;
    }
  }
  .desc {
    text-align: left;
    padding-left: 80px;
    margin-top: 0;
    .txtBox {
      text-align: left;
      P {
        margin-bottom: 30px;
      }
    }
  }
}
#history {
  .historyBox {
    margin-top: 150px;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: #ccc;
    }
    .yearBox {
      display: flex;
      padding: 50px 0;
      position: relative;
      &:nth-child(2n) {
        justify-content: flex-end;
        padding-left: 100px;
        .inner .year:before {
          left: -60px;
        }
      }
      &:nth-child(2n + 1) {
        text-align: right;
        // justify-content: flex-start;
        padding-right: 100px;
        .inner {
          .year:before {
            right: -60px;
          }
          .monthBox {
            li {
              flex-direction: row-reverse;
              // justify-content: flex-start;
              .month {
                margin-right: 0;
                margin-left: 20px;
              }
            }
          }
        }
      }
      .inner {
        width: 50%;
        // background-color: #666;
        .year {
          font-size: $font-large;
          font-weight: 700;
          margin-bottom: 30px;
          position: relative;
          &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: #fff;
            border: 5px solid $main-color;
            box-sizing: border-box;
            position: absolute;
            top: 15px;
          }
        }
        .monthBox {
          li {
            display: flex;
            margin-bottom: 20px;
            .month {
              font-weight: 700;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
#location {
  #map {
    height: 500px;
    background-color: #ccc;
    margin-bottom: 50px;
  }
  .tab {
    .tabMenu {
      margin-bottom: 50px;
    }
  }
}

#estimate {
  #news {
    margin-bottom: 100px;
  }
}

.overlay {
  background-color: $main-color;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  @include longShadow(darken($main-color, 10), 30);
  .address {
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
  }
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: $main-color;
    position: absolute;
    left: calc(50% - 5px);
    bottom: -20px;
  }
}
