<%- include("./include/header") %>
<div class="subVisual" id="subVisual01">
  <div class="titleBox">
    <h2 class="subTitle">Company</h2>
    <p>우리는, 도시경관사업의 최고기업이 되고 시장을 선도한다!</p>
  </div>
  <nav id="lnb">
    <div class="container">
      <a href="" class="home">Home</a>
      <div class="depth01 menu">
        <button>Company</button>
        <%- include("./include/depth01") %>
      </div>
      <div class="depth02 menu">
        <button>회사연혁</button>
        <%- include("./include/lnb01") %>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">회사연혁</h3>
  <div class="contents" id="history">
    <div class="container">
      <div class="tab">
        <ul class="tabMenu">
          <li class="active"><a href="#history01">NOW ~ 2016 </a></li>
          <li><a href="#history02">2015 ~ 2011</a></li>
          <li><a href="#history03">2010 ~ 2006</a></li>
          <li><a href="#history04">2005 ~ 2000</a></li>
        </ul>
        <ul class="tabContents">
          <li id="history01">
            <ul class="historyBox">
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2021</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">12월</span>
                      <p>G-PASS 기업 선정(조달청)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2020</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">07월</span>
                      <p>ISO 9001:2015, ISO 14001:2015 품질경영시스템 인증 취득</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>성과공유형 기업 인증(고용노동부)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2019</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">08월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">05월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2018</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>조달청 나라장터 총 7개 품목, 60개 제품 등록완료</p>
                    </li>
                    <li>
                      <span class="month">06월</span>
                      <p>잔디보호용매트 사업부 신설</p>
                    </li>
                    <li>
                      <span class="month">04월</span>
                      <p>스포츠용 바닥재 R&D 2차 공동과제 수행(한국화학연구원)</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>폴리우레아수지도막방수재 조달청 마스등록</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2017</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>조달청 나라장터 총 7개 품목, 60개 제품 등록완료</p>
                    </li>
                    <li>
                      <span class="month">06월</span>
                      <p>잔디보호용매트 사업부 신설</p>
                    </li>
                    <li>
                      <span class="month">04월</span>
                      <p>스포츠용 바닥재 R&D 2차 공동과제 수행(한국화학연구원)</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>폴리우레아수지도막방수재 조달청 마스등록</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2016</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>조달청 나라장터 총 7개 품목, 60개 제품 등록완료</p>
                    </li>
                    <li>
                      <span class="month">06월</span>
                      <p>잔디보호용매트 사업부 신설</p>
                    </li>
                    <li>
                      <span class="month">04월</span>
                      <p>스포츠용 바닥재 R&D 2차 공동과제 수행(한국화학연구원)</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>폴리우레아수지도막방수재 조달청 마스등록</p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
          <li id="history02">
            <ul class="historyBox">
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2015</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">03월</span>
                      <p>기업부설연구소 명칭 변경(경관포장기술연구소)</p>
                    </li>
                    <li>
                      <span class="month">01월</span>
                      <p>본사 이전(현 소재지 : 서울 송파구 성내천로 14길 13)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2014</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">07월</span>
                      <p>ISO 9001:2015, ISO 14001:2015 품질경영시스템 인증 취득</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>성과공유형 기업 인증(고용노동부)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2013</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">08월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">05월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2012</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>조달청 나라장터 총 7개 품목, 60개 제품 등록완료</p>
                    </li>
                    <li>
                      <span class="month">06월</span>
                      <p>잔디보호용매트 사업부 신설</p>
                    </li>
                    <li>
                      <span class="month">04월</span>
                      <p>스포츠용 바닥재 R&D 2차 공동과제 수행(한국화학연구원)</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>폴리우레아수지도막방수재 조달청 마스등록</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2011</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>조달청 나라장터 총 7개 품목, 60개 제품 등록완료</p>
                    </li>
                    <li>
                      <span class="month">06월</span>
                      <p>잔디보호용매트 사업부 신설</p>
                    </li>
                    <li>
                      <span class="month">04월</span>
                      <p>스포츠용 바닥재 R&D 2차 공동과제 수행(한국화학연구원)</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>폴리우레아수지도막방수재 조달청 마스등록</p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
          <li id="history03">
            <ul class="historyBox">
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2010</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">12월</span>
                      <p>G-PASS 기업 선정(조달청)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2020</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">07월</span>
                      <p>ISO 9001:2015, ISO 14001:2015 품질경영시스템 인증 취득</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>성과공유형 기업 인증(고용노동부)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2009</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">08월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">05월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2008</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>조달청 나라장터 총 7개 품목, 60개 제품 등록완료</p>
                    </li>
                    <li>
                      <span class="month">06월</span>
                      <p>잔디보호용매트 사업부 신설</p>
                    </li>
                    <li>
                      <span class="month">04월</span>
                      <p>스포츠용 바닥재 R&D 2차 공동과제 수행(한국화학연구원)</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>폴리우레아수지도막방수재 조달청 마스등록</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2007</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>조달청 나라장터 총 7개 품목, 60개 제품 등록완료</p>
                    </li>
                    <li>
                      <span class="month">06월</span>
                      <p>잔디보호용매트 사업부 신설</p>
                    </li>
                    <li>
                      <span class="month">04월</span>
                      <p>스포츠용 바닥재 R&D 2차 공동과제 수행(한국화학연구원)</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>폴리우레아수지도막방수재 조달청 마스등록</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2006</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>조달청 나라장터 총 7개 품목, 60개 제품 등록완료</p>
                    </li>
                    <li>
                      <span class="month">06월</span>
                      <p>잔디보호용매트 사업부 신설</p>
                    </li>
                    <li>
                      <span class="month">04월</span>
                      <p>스포츠용 바닥재 R&D 2차 공동과제 수행(한국화학연구원)</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>폴리우레아수지도막방수재 조달청 마스등록</p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
          <li id="history04">
            <ul class="historyBox">
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2005</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">12월</span>
                      <p>G-PASS 기업 선정(조달청)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2004</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">07월</span>
                      <p>ISO 9001:2015, ISO 14001:2015 품질경영시스템 인증 취득</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>성과공유형 기업 인증(고용노동부)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2003</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>건설업 면허 추가(도장공사업)</p>
                    </li>
                    <li>
                      <span class="month">08월</span>
                      <p>플라스틱바닥재 조달청 벤쳐나라 등록 완료</p>
                    </li>
                    <li>
                      <span class="month">05월</span>
                      <p>우수발명품 인증(특허청) 취득</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>조달납품 전 품목 KS 및 단체표준 인증 취득(총 6건)</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2002</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>조달청 나라장터 총 7개 품목, 60개 제품 등록완료</p>
                    </li>
                    <li>
                      <span class="month">06월</span>
                      <p>잔디보호용매트 사업부 신설</p>
                    </li>
                    <li>
                      <span class="month">04월</span>
                      <p>스포츠용 바닥재 R&D 2차 공동과제 수행(한국화학연구원)</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>폴리우레아수지도막방수재 조달청 마스등록</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2001</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>조달청 나라장터 총 7개 품목, 60개 제품 등록완료</p>
                    </li>
                    <li>
                      <span class="month">06월</span>
                      <p>잔디보호용매트 사업부 신설</p>
                    </li>
                    <li>
                      <span class="month">04월</span>
                      <p>스포츠용 바닥재 R&D 2차 공동과제 수행(한국화학연구원)</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>폴리우레아수지도막방수재 조달청 마스등록</p>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="yearBox">
                <div class="inner">
                  <p class="year">2000</p>
                  <ul class="monthBox">
                    <li>
                      <span class="month">11월</span>
                      <p>조달청 나라장터 총 7개 품목, 60개 제품 등록완료</p>
                    </li>
                    <li>
                      <span class="month">06월</span>
                      <p>잔디보호용매트 사업부 신설</p>
                    </li>
                    <li>
                      <span class="month">04월</span>
                      <p>스포츠용 바닥재 R&D 2차 공동과제 수행(한국화학연구원)</p>
                    </li>
                    <li>
                      <span class="month">02월</span>
                      <p>폴리우레아수지도막방수재 조달청 마스등록</p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%- include("./include/footer") %>
