<%- include("./include/header") %>
<div class="subVisual" id="subVisual04">
  <div class="titleBox">
    <h2 class="subTitle">Customer</h2>
    <p>하이탑의 다양하고 새로운 소식들을 전해드립니다.</p>
  </div>
  <nav id="lnb">
    <div class="container">
      <a href="" class="home">Home</a>
      <div class="depth01 menu">
        <button>Customer</button>
        <%- include("./include/depth01") %>
      </div>
      <div class="depth02 menu">
        <button>나라장터 등록물품</button>
        <%- include("./include/lnb04") %>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">나라장터 등록물품</h3>
  <div class="contents" id="market">
    <div class="container">
      <table class="marketTable">
        <colgroup>
          <col style="width: 20%" />
          <col style="width: 15%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
        </colgroup>
        <thead>
          <tr>
            <th scope="column">품명</th>
            <th scope="column">식별번호</th>
            <th scope="column">규격</th>
            <th scope="column">두께</th>
            <th scope="column">바로가기</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="4">
              <img src="../images/contents/_IMAGES1.jpg" alt="" /><br />
              체육시설용탄성포장재<br />
              30129999
            </td>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22668154</td>
            <td>NHTE20-15 (5종, 보도/산책로)</td>
            <td>t15mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td rowspan="12">
              <!-- <img src="" alt=""> -->
              흙콘크리트<br />
              30111595
            </td>
            <td>22416407</td>
            <td>HT-SC100-21 (습식, 주차장용)</td>
            <td>t100mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22416407</td>
            <td>HT-SC100-21 (습식, 주차장용)</td>
            <td>t100mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22416407</td>
            <td>HT-SC100-21 (습식, 주차장용)</td>
            <td>t100mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22416407</td>
            <td>HT-SC100-21 (습식, 주차장용)</td>
            <td>t100mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22416407</td>
            <td>HT-SC100-21 (습식, 주차장용)</td>
            <td>t100mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22416407</td>
            <td>HT-SC100-21 (습식, 주차장용)</td>
            <td>t100mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22416407</td>
            <td>HT-SC100-21 (습식, 주차장용)</td>
            <td>t100mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22416407</td>
            <td>HT-SC100-21 (습식, 주차장용)</td>
            <td>t100mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22416407</td>
            <td>HT-SC100-21 (습식, 주차장용)</td>
            <td>t100mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22416407</td>
            <td>HT-SC100-21 (습식, 주차장용)</td>
            <td>t100mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22416407</td>
            <td>HT-SC100-21 (습식, 주차장용)</td>
            <td>t100mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
          <tr>
            <td>22416407</td>
            <td>HT-SC100-21 (습식, 주차장용)</td>
            <td>t100mm</td>
            <td><a href="">바로가기</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include("./include/footer") %>
