<%- include("./include/header") %>
<div class="subVisual" id="subVisual01">
  <div class="titleBox">
    <h2 class="subTitle">Company</h2>
    <p>우리는, 도시경관사업의 최고기업이 되고 시장을 선도한다!</p>
  </div>
  <nav id="lnb">
    <div class="container">
      <a href="" class="home">Home</a>
      <div class="depth01 menu">
        <button>Company</button>
        <%- include("./include/depth01") %>
      </div>
      <div class="depth02 menu">
        <button>경영이념</button>
        <%- include("./include/lnb01") %>
      </div>
    </div>
  </nav>
</div>
<div class="subContents">
  <h3 class="contentsTitle">경영이념</h3>
  <div class="contents" id="philosophy">
    <div class="container">
      <div class="contents">
        <div class="imgBox">
          <p class="">Construction star</p>
          <p class="sub">
            도시경관사업의 최고기업,<br />
            시장을 선도하는 하이탑
          </p>
          <p class="sub">
            하이탑은 다음과 같은 3대 경영전략과 5대 실천 전략을<br />
            실천하고 있습니다.
          </p>
        </div>
        <img src="./images/contents/titleImgBox_philosophy.jpg" alt="" />
      </div>
      <div class=""></div>
    </div>
  </div>
</div>
<%- include("./include/footer") %>
