<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/test02.css" />
  </head>
  <body>
    <div class="btns">
      <button class="btn">RESTART</button>
    </div>
    <div class="txt">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente eaque impedit deserunt praesentium veritatis architecto rem velit iusto nisi, error officiis voluptatem voluptate ipsam vitae
        laudantium ea expedita aut est.
      </p>
    </div>
    <div class="box">
      <div class="inner"></div>
    </div>
  </body>
</html>
