.subVisual {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.subVisual .titleBox {
  color: #fff;
  text-align: center;
  margin-top: 50px;
}
.subVisual .titleBox .subTitle {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.subVisual #lnb {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 50px;
}
.subVisual #lnb .container {
  display: flex;
}
.subVisual #lnb .container .home {
  display: flex;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: -999px;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.subVisual #lnb .container .home:before {
  text-indent: 0;
  font-size: 24px;
  color: #fff;
  font-family: "Material Icons";
  content: "home";
  display: inline-block;
  margin-left: 0;
}
.subVisual #lnb .container .menu {
  width: 200px;
}
.subVisual #lnb .container .menu:hover ul {
  display: block;
}
.subVisual #lnb .container .menu:nth-of-type(2) button {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.subVisual #lnb .container .menu button {
  border: none;
  background: none;
  height: 50px;
  padding: 0 20px;
  color: #fff;
  font-size: 16px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: left;
}
.subVisual #lnb .container .menu ul {
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
}
.subVisual #lnb .container .menu ul li {
  border-top: 1px solid #ccc;
}
.subVisual #lnb .container .menu ul li a {
  display: block;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
}

.h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
}
.h4:before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: rgb(204, 204, 204);
  background: linear-gradient(0deg, rgb(204, 204, 204) 50%, rgb(191, 12, 20) 50%, rgb(191, 12, 20) 50%);
  margin-right: 15px;
}

#subVisual01 {
  background-image: url("../images/contents/subVisual01.jpg");
}

#subVisual02 {
  background-image: url("../images/contents/subVisual02.jpg");
}

#subVisual03 {
  background-image: url("../images/contents/subVisual03.jpg");
}

#subVisual04 {
  background-image: url("../images/contents/subVisual04.jpg");
}

#subVisual05 {
  background-image: url("../images/contents/subVisual05.jpg");
}

.tab .tabMenu {
  display: flex;
}
.tab .tabMenu li {
  flex-basis: 25%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-left: none;
}
.tab .tabMenu li.active {
  border-color: #bf0c14;
}
.tab .tabMenu li.active a {
  background-color: #bf0c14;
  color: #fff;
}
.tab .tabMenu li a {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.tab .tabContents {
  position: relative;
}
.tab .tabContents > li {
  display: none;
}
.tab .tabContents > li:nth-child(1) {
  display: block;
}
.tab .tabContents > li:target {
  display: block;
}
.tab .tabContents > li:not(:target) {
  display: none;
}

.subContents {
  min-height: 100vh;
  margin-bottom: 100px;
}
.subContents .contentsTitle {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin: 80px 0;
}
.subContents .contentsTitle:after {
  content: "";
  display: block;
  position: relative;
  display: block;
  width: 40px;
  height: 5px;
  background-color: #bf0c14;
  margin: 30px auto;
}
.subContents .desc {
  text-align: center;
  margin-top: 50px;
}
.subContents .desc .headTxt {
  font-size: 48px;
  line-height: 1.25;
  font-weight: 300;
  margin-bottom: 50px;
}
.subContents .desc .headTxt strong {
  font-weight: 500;
}
.subContents .desc .headTxt strong .red {
  color: #bf0c14;
}
.subContents .desc .txtBox {
  text-align: justify;
}
.subContents .desc .txtBox p {
  margin-bottom: 50px;
  line-height: 1.5;
  word-break: keep-all;
}

#introduce .summaryBox {
  display: flex;
}
#introduce .summaryBox .txtBox {
  width: 50%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #bf0c14;
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  background-image: url(../images/contents/bg_logo.png);
}
#introduce .summaryBox .txtBox .main {
  font-size: 48px;
  font-weight: 700;
}
#introduce .summaryBox .txtBox .main:after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px auto;
}
#introduce .summaryBox .txtBox .sub {
  line-height: 1.5;
  font-size: 20px;
}
#introduce .txtBox {
  text-align: center;
}

#greeting .container {
  display: flex;
}
#greeting .container img {
  align-self: flex-start;
}
#greeting .desc {
  text-align: left;
  padding-left: 80px;
  margin-top: 0;
}
#greeting .desc .txtBox {
  text-align: left;
}
#greeting .desc .txtBox P {
  margin-bottom: 30px;
}

#history .historyBox {
  margin-top: 150px;
  position: relative;
}
#history .historyBox:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}
#history .historyBox .yearBox {
  display: flex;
  padding: 50px 0;
  position: relative;
}
#history .historyBox .yearBox:nth-child(2n) {
  justify-content: flex-end;
  padding-left: 100px;
}
#history .historyBox .yearBox:nth-child(2n) .inner .year:before {
  left: -60px;
}
#history .historyBox .yearBox:nth-child(2n+1) {
  text-align: right;
  padding-right: 100px;
}
#history .historyBox .yearBox:nth-child(2n+1) .inner .year:before {
  right: -60px;
}
#history .historyBox .yearBox:nth-child(2n+1) .inner .monthBox li {
  flex-direction: row-reverse;
}
#history .historyBox .yearBox:nth-child(2n+1) .inner .monthBox li .month {
  margin-right: 0;
  margin-left: 20px;
}
#history .historyBox .yearBox .inner {
  width: 50%;
}
#history .historyBox .yearBox .inner .year {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  position: relative;
}
#history .historyBox .yearBox .inner .year:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  border: 5px solid #bf0c14;
  box-sizing: border-box;
  position: absolute;
  top: 15px;
}
#history .historyBox .yearBox .inner .monthBox li {
  display: flex;
  margin-bottom: 20px;
}
#history .historyBox .yearBox .inner .monthBox li .month {
  font-weight: 700;
  margin-right: 20px;
}

#location #map {
  height: 500px;
  background-color: #ccc;
  margin-bottom: 50px;
}
#location .tab .tabMenu {
  margin-bottom: 50px;
}

#estimate #news {
  margin-bottom: 100px;
}

.overlay {
  background-color: #bf0c14;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  text-shadow: 1px 1px 0px #8f090f,2px 2px 0px #8f090f,3px 3px 0px #8f090f,4px 4px 0px #8f090f,5px 5px 0px #8f090f,6px 6px 0px #8f090f,7px 7px 0px #8f090f,8px 8px 0px #8f090f,9px 9px 0px #8f090f,10px 10px 0px #8f090f,11px 11px 0px #8f090f,12px 12px 0px #8f090f,13px 13px 0px #8f090f,14px 14px 0px #8f090f,15px 15px 0px #8f090f,16px 16px 0px #8f090f,17px 17px 0px #8f090f,18px 18px 0px #8f090f,19px 19px 0px #8f090f,20px 20px 0px #8f090f,21px 21px 0px #8f090f,22px 22px 0px #8f090f,23px 23px 0px #8f090f,24px 24px 0px #8f090f,25px 25px 0px #8f090f,26px 26px 0px #8f090f,27px 27px 0px #8f090f,28px 28px 0px #8f090f,30px 30px 0px #8f090f;
}
.overlay .address {
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
}
.overlay:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #bf0c14;
  position: absolute;
  left: calc(50% - 5px);
  bottom: -20px;
}