body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

#header {
  position: absolute;
  width: 100%;
  z-index: 99;
  color: #fff;
}
#header:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 100px;
  pointer-events: none;
}
#header .container {
  max-width: 1920px;
  display: flex;
  justify-content: center;
}
#header #logo {
  position: absolute;
  left: 50px;
  top: 0;
  display: flex;
  align-items: center;
  height: 100px;
}
#header .online {
  position: absolute;
  top: 20px;
  right: 50px;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 100px;
  border: 2px solid #fff;
}
#header #gnb .list {
  display: flex;
}
#header #gnb .list > li {
  position: relative;
}
#header #gnb .list > li:hover .depth02 {
  opacity: 1;
  transform: translate(-50%, 0);
  pointer-events: auto;
}
#header #gnb .list > li .depth01 {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 50px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
#header #gnb .list > li .depth01:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: 100px;
}
#header #gnb .list > li .depth01:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  left: 20px;
  right: 20px;
  bottom: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
#header #gnb .list > li .depth02 {
  padding: 30px 10px;
  background-color: #bf0c14;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 50px);
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}
#header #gnb .list > li .depth02:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #bf0c14;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
#header #gnb .list > li .depth02 li a {
  display: block;
  padding: 10px 0;
}
#header #gnb .list > li .depth02 li a:hover {
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.05);
  background-color: #8f090f;
  border-radius: 5px;
}