<footer id="footer">
  <div class="utilMenu">
    <ul>
      <li><a href="">이용약관</a></li>
      <!-- prettier-ignore -->
      <li><a href=""><strong>개인정보보호정책</strong></a></li>
      <li><a href="">사이트맵</a></li>
      <li><a href="">온라인견적문의</a></li>
    </ul>
  </div>
  <div class="addressBox">
    <div class="container">
      <div class="fLogo">
        <img src="/images/layout/fLogo.png" alt="" />
      </div>
      <div class="address">
        <p class="title">하이탑 : 서울 송파구 성내천로 14길 13 (3층)</p>
        <!-- prettier-ignore -->
        <p class="info">
          <span>대표전화 : 070-7715-4400</span>
          <span>이메일 : hitop4400@hanmail.net</span>
          <span>사업자번호 : 402-81-83259</span>
        </p>
        <p class="copyright">Copyright ⓒ 2018 HITOP. All rights reserved</p>
      </div>
      <!-- prettier-ignore -->
      <div class="tel">
        <span>고객만족센터</span>
        <strong>070-7715-4400</strong>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
